body {
    background-color: salmon;
    font-family: Poppins, "Open Sans", serif;
    font-size: 150%
}
header {
    text-align: center;
}
h1,h2,h3,h4,h5,h6{
    font-family:"Open Sans", Impact, serif;
    font-size:125%
}
img{
    max-width: 100%;
}
#hero, footer{
    text-align: center;
    background-color: yellowgreen;
    color: white;
    padding: 20px;
    border:10px solid darkolivegreen;
    border-radius: 50px;
}
#hero img {
    width: 250px;
}
#bio{
    text-align: center;
}
#info, #biograph {
    background-color: pink;
    border:10px outset #024af5;
    border-block-color:salmon;
    border-radius: 25px 
    
}

/* Hobbies */

#hobbies ul li:nth-child(odd) { 
    color:blue 
    

}

/* Gallery */

#gallery, #lit {
    background-color: burlywood;
    border:15px solid #024af5;
    border-radius: 25px; 
    margin-bottom: 4em;
    text-align:center;
}

#gallery img {
    max-width:100%
}

#lit {
    text-align: justify;
}
#lit div{
    padding:2em;
    max-width:40rem;
    margin-left:auto;
    margin-right:auto;
}

/* Dropcaps */ 

#lit p:first-letter {
    color: yellow;
    background-color: #024af5;
    text-shadow: 0px 0px 10px red;
    float: left;
    font-size: 2.5em;
    border:10px double maroon;
    margin-right: .10ex;
    line-height:100%;
}

#lit p {
    clear:both
}